@font-face {
    font-family: "sketchy";
    src: url("font/Abitsketchy.ttf");
  }

body{
    text-align: center;
    background: url(img/2.gif);
/*     background-size: 102px; */
    font-family: "sketchy";
}
h1{
    color: red;
    margin-top: 5rem;
    font-size: 4rem;
}

textarea{
    margin-top: 2rem;
    font-size: 3rem;
    outline: none;
    resize: none;
    background: none;
    color: blue;
    height: 15rem;
    width: 33rem;
    border: none;
    font-family: "sketchy";
    
}
textarea::placeholder{
    color: blue;
    font-family: "sketchy";
}